Templates(
    entities: [

        Template(
            entity_type: Item,
            name: "Healing Potion", glyph: 'P', levels: [0, 1, 2],
            description: Some("Heals 6 Health Points."),
            provides: Some([ ("Healing", 6) ]),
            frequency: 0
        ),
        Template(
            entity_type: Item,
            name: "Weak Healing Potion", glyph: 'p', levels: [0, 1, 2],
            description: Some("Heals 2 Health Points."),
            provides: Some([ ("Healing", 2) ]),
            frequency: 0
        ),
        Template(
            entity_type: Item,
            name: "Dungeon Map", glyph: 'm', levels: [0, 1, 2],
            description: Some("Reveals all the map tiles."),
            provides: Some([ ("MagicMap", 0) ]),
            frequency: 0
        ),

        Template(
            entity_type: Item,
            name: "Rusty Sword", glyph: '/', levels: [0, 1, 2],
            description: Some("Rusty sword does 1 damage."),
            frequency: 1,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Item,
            name: "Shiny Sword", glyph: '|', levels: [0, 1, 2],
            description: Some("Shiny sword does 2 damage."),
            frequency: 0,
            base_damage: Some(2)
        ),

        Template(
            entity_type: Enemy,
            name: "Goblin", glyph: 'g', levels: [0],
            hp: Some(1),
            frequency: 1,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Enemy,
            name: "Orc", glyph: 'o', levels: [0, 1, 2],
            hp: Some(2),
            frequency: 0,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Enemy,
            name: "Ogre", glyph: 'O', levels: [1, 2],
            hp: Some(5),
            frequency: 0,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Enemy,
            name: "Ettin", glyph: 'E', levels: [2],
            hp: Some(10),
            frequency: 0,
            base_damage: Some(3)
        ),
    ]
)